node_modules

# Package managers
pnpm-debug.log*
.pnpm-store
package-lock.json

# build outputs
build
dist

# secrets / local env (garder .env.example)
.env
.env.local
!.env.example

# mac files
.DS_Store
